# Database connection settings
MARIADB__HOST=
MARIADB__PORT=
MARIADB__USER=
MARIADB__PASSWORD=
MARIADB__DATABASE=

# traQ API client settings
TRAQ__ACCESS_TOKEN=

# knoQ API client settings
KNOQ__USERNAME=
KNOQ__PASSWORD=

# traQ Bot information
TRAQ__BOT__USER_ID=
