# Database connection settings
MARIADB_HOST=
MARIADB_PORT=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

# traQ API client settings
TRAQ_BASE_URL=

# knoQ API client settings
KNOQ_BASE_URL=
KNOQ_USERNAME=
KNOQ_PASSWORD=

# traQ Bot settings
TRAQ_BOT_ID=
TRAQ_BOT_ACCESS_TOKEN=
