# Database connection settings
MARIADB_HOST=
MARIADB_PORT=
MARIADB_USER=
MARIADB_PASSWORD=
MARIADB_DATABASE=

# traQ API client settings
TRAQ_ACCESS_TOKEN=

# knoQ API client settings
KNOQ_USERNAME=
KNOQ_PASSWORD=

# traQ Bot information
TRAQ_BOT_USER_ID=
